/* Color palette: 

darker: 08509E;
dark: 08509E;
orginal: 0E5B87;
light: 067F9E;
lighter: 118E94;
Orange: FF6000;

; */

/* FONTS */
@font-face{
    font-family: Lato;
    src: url("../fonts/lato/Lato-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: Sansation;
    src: url("../fonts/sansation/Sansation-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: open-sans;
    src: url("../fonts/open-sans/OpenSans-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: Badr;
    src: url("../fonts/parsi/Far_Badr.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: Mitra;
    src: url("../fonts/parsi/Far_Mitra.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: Hamid;
    src: url("../fonts/parsi/Far_Hamid.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/glyphicons/Flaticon/Flaticon.eot");
  src: url("../fonts/glyphicons/Flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/glyphicons/Flaticon/Flaticon.woff") format("woff"),
       url("../fonts/glyphicons/Flaticon/Flaticon.ttf") format("truetype"),
       url("../fonts/glyphicons/Flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-style: normal;
}
.flaticon-back:before { content: "\f102"; transform: rotate(-45deg); }
.flaticon-chat-2:before { content: "\f107"; }

body { font-family: Lato, sans-serif; margin: 0; }
nav { letter-spacing: 1px; font-weight: 100; font-size: 10pt; }
a { text-decoration: none; color: #ffe; text-transform: uppercase; }
a:hover { text-decoration: none; background: #ff6000; }
a:active { background: #d2541d; text-decoration: none; }
a:visited { text-decoration: none; }
a:focus { background: #ff6000; text-decoration: none; }
h1, h2, h3, h4, h5 { margin: 0; font-weight: 500; }
h4 { font-size: 1.4em; font-weight: 600; margin-top: 10px; }
p, form { margin: 0; }
header { padding-top: 69px; position: relative; }
article { white-space: pre-wrap; font-size: 12pt; font-family: open-sans; text-align: justify; }
article ul { list-style-type: square; padding-left: 40px; }
article li, article p { margin-top: -15px; }
ul { padding: 0; margin: 0; list-style-type: none; }
ol { margin-top: auto; }
form {
    color: #fff;
    padding: 30px;
    display: block;
    border-radius: 5px;
    position: relative;
    background-color: #002c52;
}
input, textarea, button {
    border: 0;
    padding: 15px;
    font-size: 12pt;
    letter-spacing: 2px;
    font-family: sansation;
}
label { font-size: 12pt; font-family: sansation; }
textarea { max-width: 100%; width: 100% }
input[type=radio] {
    padding: 0;
    width: 20px;
    height: 20px;
    vertical-align: sub;
    background-color: #fff;
    -moz-appearance: none;
    -webkit-appearance: none;
}
input[type="radio"]:checked { background-color: #ff6000; }

.header-nav {
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 70px;
    opacity: 0.9;
    position: fixed;
    background-color: #08509E;
}

.logo {
    padding: 1% 0 0 3%;
    letter-spacing: 5px;
    display: inline-block;
    font-family: Sansation;
    text-transform: uppercase;
}
.logo img { width: 45px; vertical-align: middle; border-radius: 7px; }
.logo a:hover { background: initial; color: #ff6000; }

#site-title, #site-description { display: inherit; vertical-align: middle; }
#site-title { font-size: 16pt; font-weight: 500; }
#site-description { 
    color: #ffe;
    border-left: 1px solid #ffe;
    padding-left: 10px;
    line-height: 23px;
    font-size: 10pt;
}

.nav-helper {
    display: inline-block;
    margin-right: 3%;
    float: right;
    line-height: 60px;
    white-space: nowrap;
    height: 100%;
}
.nav-helper li { display: inline-block; }
.nav-helper a {
    display: block;
    float: left;
    text-align: center;
    padding: 5px 30px 5px 30px;
}

.cur-lang::before, .header-lang li > a::before {
    content: "";
    background: transparent url('../images/flags.jpg') no-repeat;
    height: 15px;
    width: 20px;
    z-index: 100;
    background-size: 278px 240px;
    background-position: -30px -128px;
    margin: 22px 0 0 7px;
    float: right;
    display: inline-block;
}

.nav-helper li:hover > ul { display: block; }

.dropdown-menu {
    background-color: #08509E;
    top: 70px;
    position: absolute;
    display: none;
    font-family: sans-serif;
}
.dropdown-menu li { display: block; }
.dropdown-menu li a { float: none; }

.services-submenu { font-family: Badr; letter-spacing: 0; }

.header-lang li:nth-child(1) { font-family: Badr; font-size: 1.4em; letter-spacing: 0; }
.header-lang li:nth-child(1) > a::before { background-position: -86px -29px; }
.header-lang li:nth-child(2) { font-size: .9em; }
.header-lang li:nth-child(2) > a::before { top: 97px; background-position: -114px -102px; }
.header-lang li:nth-child(3) > a::before { top: 97px; background-position: -1px -102px; }

.imgSlider { overflow: hidden; }
.mySlides img { width: 100%; height: 70vh; }
.animate-right{position:relative;-webkit-animation:animateright 0.4s;animation:animateright 0.4s}
@-webkit-keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.imgDesc {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    background-color: #08509e;
    padding: 15px;
    border-radius: 0 40px 0 0;
}
.imgTopLayer {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: #118E94; 
    position: absolute;
    top: 0;
}

.middle-ribbon {
    height: 20vh;
    background: lightgray;
    text-align: center;
}
/* Pseudo element to middle vertical align */
.middle-ribbon::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.tiles {
    height: 15vh;
    display: inline-block;
    width: 300px;
    padding: 15px;
    vertical-align: middle;
}

.tiles span {
    display: inline-block;
    width: 100px;
    vertical-align: middle;
}

.tiles img { width: 100%; }
.tiles span:nth-child(1) { margin-left: -85px; }
.tiles span:nth-child(2) { width: 200px; margin-right: -95px; }

.container a { color: #08509E; }
.container a:visited { color: #e04000; background-color: initial; }
.container a:hover { text-decoration: underline; background-color: initial; }
.container a:active { background-color: initial; }
.container a:focus { background-color: initial; }
div.container { margin: 0 12% 0 12%; }
main.container { padding: 0; margin: 0; width: 100%; }
section { padding: 20px 0; position: relative; z-index: 1; padding-top: 0; }
section > aside::after { content: ""; display: block; clear: both; }

#sect2, #sect4 { position: relative; z-index: 1; }
#sect2::before, #sect4::before, #sect5::before {
    content: "";
    opacity: .2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: center 70px !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}
#sect2::before { background: transparent url("../images/1600-500/flash9.jpg"); }
#sect3 { display: none; }
#sect5::before { background: transparent url("../images/1600-500/passport.jpg"); }

main aside { margin: 50px 100px; }

.heading { text-align: center; margin-bottom: 50px; margin-left: -100px; }
.heading h2 {
    background-image: linear-gradient(to right, #ff6000, #08509E,rgba(255,0,0,0));
    padding: 0px 0px 0px 30px;
    color: #fff;
    font-size: 24pt;
    text-align: left;
}

#sect5 > aside article { display: inline-block; }

.visaLinks a { color: #08509E; }
.visaLinks a:hover, .visaLinks a:active, .visaLinks a:focus { background-color: transparent; }

.visa-form div h2 {
    text-transform: uppercase;
    padding: 15px;
    background-color: #088;
    color: #fff;
    text-align: center;
}
.visa-form { max-width: 80vw; position: relative; margin: auto; display: none; }
.visa-form form { border-radius: 0 0 5px 5px; }
.visa-form > form input:not([type=radio]) {
    width: 20vw;
    background-color: transparent;
    border-bottom: 1px dashed #08509E;
    margin: 15px;
    padding: 0;
    color: #fff;
}
.visa-form > form input[name^="duration"] { max-width: 5vw; }
.visa-form > form label { margin-right: 15px; }
.show { display: block; }

.tooltip { position: relative; display: inline-block; border-bottom: 1px dotted black; }
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext { visibility: visible; }

.contact-form { float: right; width: 50%; position: relative; }

@keyframes curtainup {
    from { height: 100%; }
    to { height: 0; }
}
.alertmsg {
    line-height: 14;
    color: #fff;
    font-family: sansation;
    text-align: center;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #118E94;
    opacity: .9;
}
.hidealert {
    display: block !important;
    animation-name: curtainup; 
    animation-delay: 5s;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.contact-form > form > * { display: block; }
.contact-form > form > input
, .contact-form > form > textarea
, button { width: 100%; max-width: 100%; }
#name, #email { display: inline-block; width: initial; }
#name { width: 40%; }
#email { width: 60%; border-left: 1px dotted #ff6000; }
button { background-color: #08509E; color: #fff; cursor: pointer; }
button:hover { background-color: #ff6000; }

.totop { position: fixed; bottom: 20px; right: 20px; z-index: 100; display: none; }
.totop a {
    display: block;
    transform: rotate(90deg);
    padding: 13px;
    box-shadow: #333 2px 2px 5px;
    background: #08509E;
}
.totop a:hover { background: #ff6000; }

footer { background: #118E94; position: relative; }

.links { display: inline-block; padding: 50px; }
.links .widget-title { color: #ffd; text-transform: uppercase; letter-spacing: -2px; }
.links a { color: #cc9; }
.links a:hover { color: #FDB813; }

.grid-25 { float: left; font-size: .9em; }

.widget {
    position: relative;
    padding: 50px 0 0 50px;
    display: inline-block;
    box-shadow: 20px 15px 30px #088;
    vertical-align: middle;
}
.widget a { display: block; padding: 8px 100px 8px 20px; }
.widget p { margin-bottom: 15px; }

.foot-logo {
    width: 250px;
    height: 100px;
    float: right;
    right: 50px;
    background: transparent url('../images/logo/logo-fe.png') no-repeat;
    background-size: 250px;
    margin: 85px auto auto;
    position: relative;
}

.copyright {
    font-family: Sansation;
    background-color: #222;
    width: 100%;
    position: relative;
    text-align: center;
    line-height: 45px;
    color: #fff;
    opacity: 0.6;
    clear: both;
}

/* Persian language styles */
html[lang="fa"] body { font-family: Mitra; direction: rtl; font-size: 12pt; }
html[lang="fa"] article { font-family: Mitra; font-size: 16pt; }
html[lang="fa"] .logo { letter-spacing: 0; padding: 10px 3% 0 0; font-family: Hamid; }
html[lang="fa"] .logo::before { margin-top: -6px; }
html[lang="fa"] #site-title { font-size: 25pt; }
html[lang="fa"] #site-description {
    border-left: initial;
    border-right: 1px solid #ffe;
    padding: 0 10px 0 0;
    font-size: 1.2em;
    }
html[lang="fa"] nav { font-size: 14pt; letter-spacing: 0; }
html[lang="fa"] .nav-helper { float: left; margin-left: 3%; margin-right: initial; }
html[lang="fa"] .cur-lang::before { background-position: -86px -29px; }
html[lang="fa"] .cur-lang::before, .header-lang::before { left: 65px; right: initial; }
html[lang="fa"] .header-lang { font-size: .6em; }
html[lang="fa"] .header-lang li::before { left: 70px; right: initial; }
html[lang="fa"] .header-lang li:nth-child(1) { font-family: inherit; font-size: inherit; }
html[lang="fa"] .header-lang li:nth-child(1) > a::before { background-position: -29px -127px; }
html[lang="fa"] .heading { margin-right: -100px; }
html[lang="fa"] .heading h2 { 
    text-align: right; 
    background-image: linear-gradient(to left, #ff6000, #08509E,rgba(255,0,0,0));
    padding: 0px 30px 0px 0px;
    }
html[lang="fa"] .contact-form { float: left; }
html[lang="fa"] .contact-form > form > input
, html[lang="fa"] .contact-form > form > textarea
, html[lang="fa"] #submit { font-family: Mitra; font-size: 14pt; letter-spacing: 0; }
html[lang="fa"] #email {
    margin-left: initial;
    border-left: initial;
    border-right: 1px dotted #ff6000;
}
html[lang="fa"] .widget { box-shadow: -20px 15px 30px #088; padding: 40px 30px 0 0; }
html[lang="fa"] .widget a { padding: 8px 20px 8px 100px; line-height: 20px; }
html[lang="fa"] #widget3 p { font-size: 12pt; letter-spacing: 0; }
html[lang="fa"] #widget3 a { direction: ltr; font: 600 10pt lato; letter-spacing: 2px; }
html[lang="fa"] .foot-logo { float: left; right: initial; left: 50px; }
html[lang="fa"] .copyright { direction: ltr; font-size: .8em; }

/* French language styles */
html[lang="fr"] .cur-lang::before { background-position: -114px -102px; }
html[lang="fr"] .header-lang li:nth-child(2) > a::before { background-position: -30px -128px; }

/* Deutsche language styles */
html[lang="de"] .cur-lang::before { background-position: -1px -102px; }
html[lang="de"] .header-lang li:nth-child(1) > a::before { background-position: -86px -29px; }
html[lang="de"] .header-lang li:nth-child(2) > a::before { background-position: -29px -127px; }
html[lang="de"] .header-lang li:nth-child(3) > a::before { background-position: -114px -102px; }

@media screen and (max-width: 1024px) {
    .nav-helper { width: 50%; overflow-x: scroll; overflow-y: hidden; }
    .nav-helper::-webkit-scrollbar { display: none; }
}

@media screen and (max-width: 900px) {
    .nav-helper { width: 40%; }
}

@media screen and (max-width: 480px) {
    .header-nav { height: 99px; }
    .logo img { width: 35px; }
    #site-title { font-size: 12pt; letter-spacing: 2px; }
    #site-description { font-size: 8pt; }
    .nav-helper {
        float: initial;
        width: 94%;
        margin: 10px 3% 0 3%;
        line-height: 30px;
        font-size: 9pt;
        height: 44%;
    }
    .cur-lang::before { margin: 7px 0 0 7px; }
    .header-lang { top: 98px; }
    .mySlides img { height: height: 70vh; }
    main { margin-top: 30px; }
    main aside { margin: 20px; }
    .heading h2 { border-width: 0 20vw; }
    .contact-form { width: 89%; padding: 20px; }
    .contact-form::before { display: none; }
    #name, #email { margin: 0; border: 0; width: 100%; }
    /* Persian language */
    html[lang="fa"] #site-title { font-size: 14pt; }
    html[lang="fa"] #site-description { font-size: 11pt; }
    html[lang="fa"] nav, html[lang="fa"] .nav-helper { font-size: 12pt; }
}