body{
	background-image: url("../images/kindajean.png");
	font-family: "sans-serif";
}

a {
	text-decoration: none;
}

h2 {
	margin: 0;
}

p {
	margin-bottom: 0;
}

.negative-shadow {
	box-shadow: 0 -3px 3px #222;
}

nav {
	opacity: 0.9;
	background-color: #222;
	max-width: 1381px;
	height: 70px;
	z-index: 10;
	top: 0px;
	position: fixed;
	margin: 0px auto;
	left: 0px;
	right: 0px;
	box-shadow: 0px 5px 3px #222;
}

.logo {
	display: inline-block;
	padding-left: 3%;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.logo a {
	color: #ffe;
}

.nav-helper {
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	right: 5%;
	height: 70px;
}

ul {
	padding:0;
	margin:0;
	list-style-type:none;
}

li {
	margin-left:2px;
	float:left;
	line-height: 60px;
}

ul li a {
	display: block;
	float: left;
	width: 100px;
	color: #ffe;
	text-decoration: none;
	text-align: center;
	padding: 5px;
	transition: all 0.3s ease 0s;
}

ul li a:hover {
	background-color:#D3D3D3;
	border-color:#696969 #DCDCDC #DCDCDC #696969;
	color: #222;
}

header {
	padding-top: 62px;
	position: relative;
}

/* jssor slider bullet navigator skin 05 css */
/*
.jssorb05 div           (normal)
.jssorb05 div:hover     (normal mouseover)
.jssorb05 .av           (active)
.jssorb05 .av:hover     (active mouseover)
.jssorb05 .dn           (mousedown)
*/
.jssorb05 {
    position: absolute;
}

.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url(../images/slider/b21.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.jssorb05 div { 
	background-position: -7px -7px; 
}

.jssorb05 div:hover, .jssorb05 .av:hover {
	background-position: -37px -7px; 
}

.jssorb05 .av {
	background-position: -67px -7px;
}

.jssorb05 .dn, .jssorb05 .dn:hover {
	background-position: -97px -7px;
}

/* jssor slider arrow navigator skin 11 css */
/*
.jssora11l                  (normal)
.jssora11r                  (normal)
.jssora11l:hover            (normal mouseover)
.jssora11r:hover            (normal mouseover)
.jssora11l.jssora11ldn      (mousedown)
.jssora11r.jssora11rdn      (mousedown)
*/
.jssora11l, .jssora11r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 37px;
    height: 37px;
    cursor: pointer;
    background: url(../images/slider/a11.png) no-repeat;
    overflow: hidden;
}
.jssora11l {
	background-position: -11px -41px;
}
.jssora11r {
	background-position: -71px -41px;
}
.jssora11l:hover {
	background-position: -131px -41px;
}
.jssora11r:hover {
	background-position: -191px -41px;
}
.jssora11l.jssora11ldn {
	background-position: -251px -41px;
}
.jssora11r.jssora11rdn {
	background-position: -311px -41px;
}

main {
	max-width: 1381px;
	background-color: #eee;
	margin: 0 auto;
	position: relative;
}

main .container {
}

section {
	padding: 20px 0;
	box-shadow: 0px -5px 2px #222;
	position: relative;
	z-index: 1
}

#sect2, #sect4 {
	position: relative;
	z-index: 1;
}

#sect2::before, #sect4::before {
	content: "";
	background: transparent url("../images/bedge_grunge.png");
	opacity: .4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

main aside {
	margin: 50px;
}

footer {
	max-width: 1381px;
	height: 300px;
	background: transparent url("../images/blackorchid.png");
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

.links {
	display: inline-block;
	padding: 0 50px;
}

.links .widget-title {
	color: #ffd;
	text-transform: uppercase;
	letter-spacing: -2px;
}

.links a {
	color: #cc9;
}

.links a:hover {
	color: #FDB813;
}

.grid-25 {
	float: left;
	width: 25%;
	font-size: .9em;
}

.foot-logo {
	width: 100px;
	height: 100px;
	display: inline-block;
	position: absolute;
	top: 50px;
	right: 50px;
	border-radius: 3px 70px 3px 70px;
	background-color: #FFE;
	border-style: solid;
	border-width: 0px 30px;
	line-height: 100px;
	text-align: center;
	border-color: rgb(60, 103, 152);
}

.copyright {
	height: 70px;
	background-color: rgb(34, 34, 34);
	z-index: 5;
	width: 1381px;
	position: absolute;
	bottom: 0px;
	text-align: center;
	line-height: 70px;
	color: #fff;
	opacity: 0.6;
}